/*Nav---------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(90, 7, 107);
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

li input  {
  display: block;
  color: red;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
} 
li button  {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
} 
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 80px;
  text-decoration: none;
}
.perfil{
  padding: 12px 10px;
}
li a:hover {
  background-color: #111;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/*Content------------------------------------------*/
.content{
	width: 50%;
	margin-left: 20%;
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: black;

  
	font-size: 1em;
	line-height: 1.5em;
  background-image: url(https://cdn.hipwallpaper.com/i/8/66/i4Ek1A.jpg);
}
div img{
  display: inline-block;
  width: 40%;
  height: 40%;
}
p.bloque{
  display: inline-block;
}
#boton-add{
  width: 100%;
}
fieldset{
  background-color: #262626;
  color: white;
  display: inline-block;
  width: 46%;
}
h1{
  color: white;
}
h2{
  color: white;
}
.red{
  color: red;
}
.green{
  color: green;
}
label{
  color: white;
}
/* formularios dentro de content ----------------------------------------------*/
.formularios{
  color: black;
}

.formularios{
  text-align: left;
}
.formularios h1 {
  font-family: 'Passion One';
  font-size: 2rem;
  text-transform: uppercase;
}

.formularios label {
  width: 150px;
  display: inline-block;
  text-align: left;
  font-size: 1.5rem;
  color: Black;
  font-family: 'Lato';
}

.formularios input {
  border: 2px solid #ccc;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: 'Lato';
  padding: 10px;
}

.formularios form {
  margin: 25px auto;
  padding: 20px;
  border: 5px solid #ccc;
  width: 500px;
  background: #eee;
}

.formularios div.form-element {
  margin: 20px 0;
}

.formularios button {
  padding: 10px;
  font-size: 1.5rem;
  font-family: 'Lato';
  font-weight: 100;
  background: yellowgreen;
  color: white;
  border: none;
}

/* Aside ----------------------------------------------*/
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 75%; /* Establecemos la barra en la izquierda */
	top: 15%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 20; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.aside{
	list-style: none;
}

/*Footer-------------------------*/
.footer-content{
  display: inline-block;
}
#telefono{
  padding-left: 33%;
  padding-right: 33%;
}

